body{
    width: 100%;
}
#wrapper{
    width: 100%;
    height:400px;
     overflow: hidden;
}
#slides{
   position: relative;
}
.slide{
    float: left;


}
.slide img{
    height: 100%;
     position: relative;
}
